<configuration>
	<if condition='isNull("LOG_DIR")'>
		<then>
			<if condition='isDefined("APP_HOME")'>
				<then>
					<property name="LOG_DIR" value="${APP_HOME}/log" />
				</then>
				<else>
					<property name="LOG_DIR" value="log" />
				</else>
			</if>
		</then>
	</if>

	<appender name="INF-QUARTZ-SRV-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/lnk-quartz-srv.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_DIR}/lnk-quartz-srv.%i.gz</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{trackingCode}] [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{trackingCode}] [%thread] [%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>

	<root level="INFO">
		<appender-ref ref="INF-QUARTZ-SRV-LOG-FILE" />
        <appender-ref ref="STDOUT"/>
	</root>

</configuration>